.image{
width: 170px;
}

.fondo-yellow{
  background-image: -webkit-linear-gradient(160deg,#3a3a3a 65%,#ffd775 75%)!important;


}


.bold-times{
  font-weight:bold;
  font-family: "Times New Roman", Times, serif;
  padding-left:30px!important;
  
}

.bold-times:hover{
 text-decoration: underline;
 text-underline-offset: 1rem;
 color: #f6a742!important;
}

.header__ws {
  color: #3a3a3a !important;
  font-weight:bold;
  font-family: "Times New Roman", Times, serif;
  padding-left:30px;

}

.header__ws:hover {
  color: #34b613 !important;
}





			
@media(max-width: 576px){
 .fondo-yellow{
  background-image: -webkit-linear-gradient(160deg,#3a3a3a 40%,#ffd775 50%)!important;

}
}
